<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chat - Desarrollo basado en Plataformas</title>

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  </head>
  <body onload="whoami()">
    <h1>Chat - Mensajes</h1>
    <table width="100%" border="1px solid">
        <tr>
            <td width="25%">
                Usuarios
                <div class="alert alert-primary" role="alert">
                    <label id="cu_username"></label>
                    <br/>
                    <label id="cu_name"></label>
                </div>
                <div id="allusers">

                </div>

            </td>
            <td width="75%">
                Mensajes
                <div id="messages">

                </div>
            </td>
        </tr>
    </table>
    <script src="/static/js/chat.js"></script>
  </body>
</html>
