<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="/static/css/chat.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="chat.js"></script>
</head>
<body>
<div id="tabla" class="login-page">
    <h1>Escribe :D</h1>
    <div class="form">
        <textarea id="content" rows="10" cols="35" placeholder="Escribe here:"></textarea>
        <label>ID del destinatario:</label>
        <input type="text" id="user_to_id">
        <button type="button" placeholder="Send" onclick="Enviar()">Send</button>
    </div>

    <h1 id="error"></h1>
</div>
</body>
</html>