<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="login.js"></script>
</head>
<body>

    <div class="login-page">
  <div class="form">

    <table class="login-form">
      <input id = "username" type="text" placeholder="username"/>
      <input id = "password" type="password" placeholder="password"/>
        <button onclick="getData()">login</button> </table>
      <div id = "action" ></div>
  </div>
</div>
</body>
</html>